<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spotai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <div class="input-container">
                <textarea name="prompt" id="prompt" rows="2" placeholder="prompt"></textarea>
                <button class="button">generate playlist</button>
            </div>
        </form>
    </div>
    <footer>
        <p>made with <span class="heart">&#10084;</span> by jack</p>
    </footer>
</body>
</html>
